body {
  background-color: #f2f9f1;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
a {
  color: #4ef037;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #4ef037;
  text-align: center;
}
form {
  padding: 30px;
  background-color: white;
  border: 1px solid #beeb9f;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 4px 30px 0px rgba (65, 50, 100, 0.5);
  margin-bottom: 30px;
}
.ingredients {
  padding: 16px;
  border: 1px solid #beeb9f;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background-color: #4ef037;
  color: #272044;
  width: 150px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}
.recipe {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 2px solid #beeb9f;
  box-shadow: 0px 4px 30px 0px rgba (65, 50, 100, 0.5);
  border-radius: 10px;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
